        <item>
            <title>{{{title}}}</title>
            <link>{{link}}</link>
            <guid>{{link}}</guid>
            <pubDate>{{pubDate}}</pubDate>
            <media:content url="{{{imageUrl}}}" type="image/png" width="100%" height="auto" />
            <description>
                Today we are praying for:
                {{leader1}}
                {{leader2}}
                {{leader3}}
            </description>
            <content:encoded><![CDATA[
                <img src="{{imageUrl}}" alt="leaders we are praying for" width="100%" height="auto" style="width: 100%; height: auto;" />
                <h2>Today we are praying for:</h2>
                <p>{{leader1}}</p>
                <p>{{leader2}}</p>
                <p>{{leader3}}</p>
            ]]></content:encoded>
        </item>
